.header {
  min-height: 90px;
  padding: 25px 0;
  background-color: $main-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 62px;
  }

  &__phone-number {
    color: $main-text-color;
    font-family: $second-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  &__hamburger {
    display: none;
    position: relative;
    z-index: 15;
    width: 27px;
    height: 25px;
    transition: transform 0.5s ease, opacity 0.5s;

    span {
      position: absolute;
      left: 1px;
      display: block;
      width: 25px;
      height: 2px;
      background-color: $main-text-color;
      transition: transform 0.5s ease;
      &:first-child {
        transform: translateY(-11px);
      }
      &:last-child {
        transform: translateY(11px);
      }
    }

    &--menu-open {
      span {
        &:nth-child(2) {
          opacity: 0;
        }

        &:first-child {
          transform: translateY(0) rotate(-45deg);
        }

        &:last-child {
          transform: translateY(0) rotate(45deg);
        }
      }
    }
  }
}

@media (any-hover: hover) {
  .header {
    &__phone-number:hover {
      color: $decorative-color;
    }
  }
}
